markup/pages/ui.pug
extends _template.pug

include ../components/b-brand/b-brand

block head
  head
    +head(head.home)
  |
  |


block content
  main.l-main-content

    .container
      form.needs-validation(novalidate)
        .ui-check-group
          .custom-control.custom-checkbox.custom-control-inline
            input.custom-control-input#appealCheckEmail(type="checkbox" checked)
            label.custom-control-label(for="appealCheckEmail") На електронну адресу
          .custom-control.custom-checkbox.custom-control-inline
            input.custom-control-input#appealCheckPost(type="checkbox")
            label.custom-control-label(for="appealCheckPost") На поштову адресу
          .custom-control.custom-checkbox.custom-control-inline
            input.custom-control-input#appealCheckTel(type="checkbox")
            label.custom-control-label(for="appealCheckTel") По телефону


        .custom-control.custom-radio.custom-control-inline
          input.custom-control-input#customRadio1(type="radio" name="customRadio" checked)
          label.custom-control-label(for="customRadio1") Toggle this custom radio
        .custom-control.custom-radio.custom-control-inline
          input.custom-control-input#customRadio2(type="radio" name="customRadio")
          label.custom-control-label(for="customRadio2") Or toggle this other custom radio

        .form-group
          .ui-input
            label.ui-input__label(for="appealName")
              span.ui-input__label-content Прізвище Ім’я По Батькові
            input.ui-input__field.form-control#appealName(type="text" required)
            .invalid-feedback Поле не заповненне

        .form-group
          select.selectpicker(data-width="100%" title="Оберіть місто" multiple data-max-options="1" data-style="ui-select")
            option(value="") Місто
            option(value="") Місто
            option(value="") Місто

        .form-group
          button.btn.btn-primary Додати

block scripts
  // Main slider
  script(src="assets/plugins/slider-pro/jquery.sliderPro.min.js")
  // Input effects
  script(src="https://cdnjs.cloudflare.com/ajax/libs/classie/1.0.1/classie.js")

dev/ui.html
<!DOCTYPE html>
<html class="no-js" lang="uk">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>Онлайн планування завдань / Головна</title>
      <meta content="" name="description">
      <meta content="" name="keywords">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta content="telephone=no" name="format-detection">
      <meta name="HandheldFriendly" content="true">
      <link href="assets/css/master.css" rel="stylesheet">
      <link rel="icon" type="image/x-icon" href="favicon.ico">
      <script>(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>
  </head>
  
  <body>
    <div class="page-wrapper l-theme" id="main-content">
      <div class="page-inner">
        <main class="l-main-content">
          <div class="container">
            <form class="needs-validation" novalidate>
              <div class="ui-check-group">
                <div class="custom-control custom-checkbox custom-control-inline">
                  <input class="custom-control-input" id="appealCheckEmail" type="checkbox" checked>
                  <label class="custom-control-label" for="appealCheckEmail">На електронну адресу</label>
                </div>
                <div class="custom-control custom-checkbox custom-control-inline">
                  <input class="custom-control-input" id="appealCheckPost" type="checkbox">
                  <label class="custom-control-label" for="appealCheckPost">На поштову адресу</label>
                </div>
                <div class="custom-control custom-checkbox custom-control-inline">
                  <input class="custom-control-input" id="appealCheckTel" type="checkbox">
                  <label class="custom-control-label" for="appealCheckTel">По телефону</label>
                </div>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input class="custom-control-input" id="customRadio1" type="radio" name="customRadio" checked>
                <label class="custom-control-label" for="customRadio1">Toggle this custom radio</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input class="custom-control-input" id="customRadio2" type="radio" name="customRadio">
                <label class="custom-control-label" for="customRadio2">Or toggle this other custom radio</label>
              </div>
              <div class="form-group">
                <div class="ui-input">
                  <label class="ui-input__label" for="appealName"><span class="ui-input__label-content">Прізвище Ім’я По Батькові</span></label>
                  <input class="ui-input__field form-control" id="appealName" type="text" required>
                  <div class="invalid-feedback">Поле не заповненне</div>
                </div>
              </div>
              <div class="form-group">
                <select class="selectpicker" data-width="100%" title="Оберіть місто" multiple data-max-options="1" data-style="ui-select">
                  <option value="">Місто</option>
                  <option value="">Місто</option>
                  <option value="">Місто</option>
                </select>
              </div>
              <div class="form-group">
                <button class="btn btn-primary">Додати</button>
              </div>
            </form>
          </div>
        </main>
      </div>
        <footer class="footer">
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                <div class="footer-main">
                  <div class="footer-logo"><span class="footer-logo__item"><a class="footer-logo__link" href="#"><img class="ic img-fluid" src="assets/media/general/logo-region.png" alt="Герб"></a></span></div>
                  <div class="footer__title">Онлайн планування завдань</div>
                  <div class="footer__subtitle">Покровська міска рада</div><a class="footer__btn btn" href="#">Зворотній зв'язок</a>
                </div>
              </div>
              <div class="col-md-4">
                <div class="footer-section">
                  <ul class="footer-list list-unstyled">
                    <li class="footer-list__item"><a class="footer-list__link" href="#">Головна</a></li>
                    <li class="footer-list__item"><a class="footer-list__link" href="#">Статистика</a></li>
                    <li class="footer-list__item"><a class="footer-list__link" href="#">Департаменти</a></li>
                    <li class="footer-list__item"><a class="footer-list__link" href="#">Таймлайн</a></li>
                    <li class="footer-list__item"><a class="footer-list__link" href="#">Мої завдання</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-md-4">
                <div class="footer-section">
                  <ul class="footer-list list-unstyled">
                    <li class="footer-list__item"><a class="footer-list__link" href="#">Про проект</a></li>
                    <li class="footer-list__item"><a class="footer-list__link" href="#">Карта сайту</a></li>
                    <li class="footer-list__item"><a class="footer-list__link" href="#">Реєстрація</a></li>
                    <li class="footer-list__item"><a class="footer-list__link" href="#">Відділ підтримки</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="footer-bottom">
              <div class="row align-items-center">
                <div class="col-md-4">
                  <div class="footer-devel"><a class="footer-devel__img" href="#"><img src="assets/media/general/logo-bisoft.png" alt="«БІС-СОФТ»"></a>
                    <div class="footer-devel__text">Компанія «БІС-СОФТ»<br>Всі права захищені.</div>
                  </div>
                </div>
                <div class="col-md">
                  <div class="footer-copyright">
            <svg class="ic" width="30" height="30">
                <use xlink:href="../svg-symbols.svg#creative-commons"></use>
            </svg>
        
                    <div class="footer-copyright__info">Всі матеріали сайту доступні за ліцензією: Creative Commons «Attribution» 4.0 Всесвітня</div>
                  </div>
                </div>
                <div class="col-md-auto">
                    <ul class="soc-link list-inline">
                      <li class="soc-link__item list-inline-item"><a class="soc-link__link" href="#"><i class="ic fab fa-facebook-square"></i></a></li>
                      <li class="soc-link__item list-inline-item"><a class="soc-link__link" href="#"><i class="ic fab fa-twitter"></i></a></li>
                    </ul>
                    <!-- end .b-soc-link-->
                </div>
              </div>
            </div>
          </div>
        </footer>
    </div>
    <!-- Modal government-->
      <div class="modal fade" id="modalGov" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modalGov" role="document">
          <div class="wrap">
            <ul class="wrap-link">
              <li><a href="https://www.president.gov.ua/" target="_blank" rel="nofollow">Президент України</a></li>
              <li><a href="https://rada.gov.ua/" target="_blank" rel="nofollow"> Верховна Рада України</a></li>
            </ul>
            <ul class="wrap-link">
              <li><a href="http://www.ccu.gov.ua/" target="_blank" rel="nofollow">Конституційний суд України</a></li>
              <li><a href="http://www.rnbo.gov.ua/" target="_blank" rel="nofollow">Рада національної безпеки і оборони України</a></li>
            </ul>
            <ul class="wrap-link">
              <li><a href="index.html" target="_blank">Центральні та місцеві органи виконавчої влади</a></li>
            </ul>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"></button>
          </div>
        </div>
      </div>
      <!-- end .b-modal-gov-->
      
    <!-- Modal test-->
      <div class="modal fade" id="modalTest" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="b-modal-test modal-content">
            <div class="b-modal-test__title">Завершуємо налаштування</div>
            <div class="b-modal-test__info">Ми хочемо зробити дуже зручний веб сервіс для Вас і всіх мешканців нашого міста, зовсім скоро Ви зможемо скористатися всіма його функціями.</div>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
        </div>
      </div>
      <!-- end .b-modal-test-->
      
    <script src="/assets/js/separate-js/svg4everybody.min.js"></script>
    <script>svg4everybody();</script>
    <!-- ++++++++++++-->
    <!-- MAIN SCRIPTS-->
    <!-- ++++++++++++-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-migrate-1.4.1.min.js"></script>
    <!-- Bootstrap-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <!-- Select customization-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/bootstrap-select.min.js"></script>
    <!-- Pop-up window-->
    <script src="assets/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
    <!-- Accessibility-->
    <script src="assets/plugins/accessibility/accessibility.min.js"></script>
    <!-- Scale images-->
    <script src="assets/plugins/ofi.min.js"></script>
    <!-- Slider-->
    <script src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <!-- Main slider-->
    <script src="assets/plugins/slider-pro/jquery.sliderPro.min.js"></script>
    <!-- Input effects-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/classie/1.0.1/classie.js"></script>
    <!-- User customization-->
    <script src="assets/js/custom.js"></script>
  </body>
</html>
